a:link {
    text-decoration: none !important;
    border-bottom: 0px;
}

a:visited {
    text-decoration: none !important;
    border-bottom: 0px
}

a:hover {
    text-decoration: none !important;
    border-bottom: dashed 1px;
}

a:active {
    text-decoration: none !important;
    border-bottom: 0px;
}

th.th-Total {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-right: solid 1px rgba(255, 255, 255, 0.3);
}

th.results {
  text-align: center;
}

th.blank {
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    border-right: solid 1px rgba(255, 255, 255, 0.3);
}

td.td-header {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-right: solid 1px rgba(255, 255, 255, 0.3);
}

td.td-Total {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-right: solid 1px rgba(255, 255, 255, 0.3);
}

td.results {
  text-align: center;
}

th.th-team-Dark.Cookies {
  text-align: center;
  background-color: rgb(84, 110, 122);
}

th.th-team-Frozen.Cheese {
  text-align: center;
  background-color: rgb(32, 102, 148);
}

th.th-team-Italian.Carrots {
  text-align: center;
  background-color: rgb(31, 139, 76);
}

th.th-team-Regular.Hams {
  text-align: center;
  background-color: rgb(153, 45, 34);
}

th.th-team-Stinkin\'.Rebels {
  text-align: center;
  background-color: rgb(194, 124, 14);
}

td div.div-racer {
  text-align: center;
}
