{{ define "content" }}
<!-- Main -->
<div id="main" class="wrapper style1">
   <div class="container">
      <!-- Content -->
      <center>
        <section id="upper">
          <header class="">
            <div class="row">
              <div class="12u">
                <img src="/public/images/condor_logo.png" />
              </div>
            </div>
          </header>
        </section>
      </center>
      <section class="">
        Select an event:
        <div class="row">

          <div class="8u 12u">
            <select id="eventSelector" onChange='changeEvent(this.value);'>
              <option value="" disabled>Events</option>
              {{ range .FoundTables }}
              <option value="{{ .TableName.Value }}"> 
                {{ if .PrettyName.Value }} 
                  {{ .PrettyName.Value }}
                {{ else }}
                  {{ .TableName.Value }}
                {{ end }}
                </option>
              {{ end }}

            </select>
          </div>
          <div class="2u 12u">
            <a id="refresh" class="button fit ">Refresh</a>
          </div>
          <div class="2u 12u">
            <a id="reset" class="button fit ">Reset</a>
          </div>
        </div>
        <div id="eventName" class="major">
        </div>
        <div id="eventData" class="table-wrapper">
        </div>
      </section>
    </div>
  </div>
{{ end }}
