{{ define "layout" }}
<!DOCTYPE HTML>
<!--
  Landed by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>{{ .Title }}</title>
    
    <!-- Meta related meta things -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta itemprop="keywords" content="crypt, necrodancer, condor, racing, online, amplified, twitch" >
    
    <!-- Description related things -->
    {{ if eq .Title "Home" }}
    <meta name="description" content="The latest CoNDOR event is {{(index .FoundTables 0).PrettyName }} " >
    <meta itemprop="description" content="The latest CoNDOR event is {{(index .FoundTables 0).PrettyName }} " >
    <meta property="og:description" content="The latest CoNDOR event is {{(index .FoundTables 0).PrettyName }} " >    
    <meta name="twitter:description" content="The latest CoNDOR event is {{(index .FoundTables 0).PrettyName }} " >
    {{ else }}
    <meta name="description" content="A silly project for silly people" >
    <meta itemprop="description" content="A silly project for silly people" >
    <meta property="og:description" content="A silly project for silly people" >    
    <meta name="twitter:description" content="A silly project for silly people" >
    {{ end }}

    <!-- Name related things -->
    <meta itemprop="name" content="CoNDOR Stats and Things" >
    <meta property="og:title" content="CoNDOR Stats and Things" >
    <meta name="twitter:title" content="CoNDOR Stats and Things" >
    
    <!-- image related things -->
    <meta itemprop="image" content="https://some.pizza/public/images/condor_crow.png" >
    <meta property="og:image" content="https://some.pizza/public/images/condor_crow.png" >
    <meta name="twitter:image" content="https://some.pizza/public/images/condor_crow.png" >
    <meta link rel="shortcut icon" href="https://some.pizza/public/images/condor_crow.png" type="image/png" >
    <meta name="twitter:card" content="summary_small_image" >

    <!-- Website related things -->
    <meta property="og:url" content="https://some.pizza" >
    <meta property="og:type" content="website" >    
    
    <!-- Thanks to https://heymeta.com -->

    <!--[if lte IE 8]><script src="/public/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/condor.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/public/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
    
    
  </head>
  <body class="landing">
    <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo"><a href="https://twitter.com/condorleague" target="_blank"><img height="50%" src="/public/images/condor_crow.png" /></a></h1>

      <nav id="main-nav">
        <ul>
          <li>
            <a href="#">Stuff</a>
            <ul>
              <li><a href="/s">S Wins</a></li>
              <li><a href="/sweeps">Sweeps</a></li>
              <li><a href="/user">User Stats</a></li>
            </ul>
          </li>
          <li><a href="/teamresults">Team Results</a></li>
          <li><a href="https://condor.live/schedule" target="_blank">Schedule</a></li>
          <li><a href="https://condor.live/standings" target="_blank">Standings</a></li>
          <li><a href="http://stats.condor.live/" target="_blank">Stats</a></li>
        </ul>
      </nav>
    </header>
  
  {{ template "content" . }}

  <center>Find this project on <a class="github" href="https://github.com/necrommunity/condor-standings/" target="_blank"><img class="github-logo" src="/public/images/github.png" /></a></center>
  <center>Powered by<a class="github" href="https://golang.org/" target="_blank"><img height="54px" class="github-logo" src="/public/images/go.png" /></a></center>
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/jquery.scrolly.min.js"></script>
  <script src="/public/js/jquery.dropotron.min.js"></script>
  <script src="/public/js/jquery.scrollex.min.js"></script>
  <script src="/public/js/browser.min.js"></script>
  <script src="/public/js/breakpoints.min.js"></script>
  <script src="/public/js/skel.min.js"></script>
  <script src="/public/js/skel-viewport.min.js"></script>
  <script src="/public/js/util.js"></script>
  <script src="/public/js/main.js"></script>
  {{/* <script src="/public/js/index.js"></script> */}}
  {{ if eq .Title "Home" }}
    <script src="/public/js/eventselect.js"></script>
  {{ end }}
  {{ if eq .Title "User Info" }}
    <script src="/public/js/user.js"></script>
  {{ end }}
  {{ if eq .Title "Team Results" }}
    <script src="/public/js/teamresults.js"></script>
  {{ end }}
  </body>
</html>
{{ end }}
