{{ define "layout" }}
<!DOCTYPE HTML>
<!--
  Landed by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/public/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/condor.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/public/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
    <script src="/public/js/jquery.min.js"></script>
  </head>
  <body class="landing">
    <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <h1 id="logo"><a href="https://twitter.com/condorleague" target="_blank"><img height="50%" src="/public/images/condor_crow.png" /></a></h1>

      <nav id="nav">
        <ul>
          <li><a href="/teamresults">Team Results</a></li>
          <li><a href="https://condor.live/schedule" target="_blank">Schedule</a></li>
          <li><a href="https://condor.live/standings" target="_blank">Standings</a></li>
          <li><a href="http://stats.condor.live/" target="_blank">Stats</a></li>
        </ul>
      </nav>
    </header>

  {{ template "content" . }}
  {{ if eq .Title "Home" }}
  <script src="/public/js/eventselect.js"></script>
  {{ end }}
  <center><a href="https://github.com/sillypears/condor-standings/"><img src="/public/images/github.png" /></a></center>
  </body>
</html>
{{ end }}
