{{ define "content" }}

<div id="main" class="wrapper style1">
   <div class="container">
      <!-- Content -->
      <center>
        <section id="upper">
          <header class="">
            <div class="row">
              <div class="12u">
                <a href="/"><img src="/public/images/condor_logo.png" height="45px" /></a>
              </div>
            </div>
          </header>
        </section>
      </center>
      <p>
      </p>
      <center>
      Uhh, go up to the top and do a /twitch_name or something :)
      </center>
    </div>
</div>

{{ end }}